/*****************************
**********  BODY  ************
*****************************/

.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero::before {
    content: "";
    background-image: url("../assets/historia-cerveza.jpg");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}

h1 {
    position: relative;
    color: #ffffff;
    font-size: 3rem;
    line-height: 0.9;
    text-align: center;
}

#menu-nav {
    display: inline-block;
    width: 180px;
    height: 180px;
    list-style: none;
    border-radius: 15px;
    font-size: 24px;
    font-weight: bold;
    list-style: none;
}